<ion-header>

  <ion-navbar color="primary">
    <ion-title>Attendance Marker</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2><button ion-button item-start icon-only clear (click)="prevMonth()"><ion-icon name="md-rewind"></ion-icon></button></ion-col>
      <ion-col col-2><button ion-button icon-only clear (click)="prevDate()"><ion-icon name="ios-arrow-dropleft-outline"></ion-icon></button></ion-col>
      <ion-col col-4><ion-label text-center>{{displayDate}}</ion-label></ion-col>
      <ion-col col-2><button ion-button icon-only clear (click)="nextDate()"><ion-icon name="ios-arrow-dropright-outline"></ion-icon></button></ion-col>
      <ion-col col-2><button ion-button item-end icon-only clear (click)="nextMonth()"><ion-icon name="md-fastforward"></ion-icon></button></ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let student of studentsRegister;let i = index">
    <div *ngIf="student.date == displayDate">
      <ion-item *ngFor="let record of studentsRegister[i].attendance;let j = index" no-lines>
        <ion-label item-start>{{studentsRegister[i].attendance[j].name}}</ion-label>
        <ion-icon item-end [name]="studentsRegister[i].attendance[j].present?'ios-checkmark':'ios-close'"></ion-icon>
      </ion-item>
      <button ion-button block [disabled]="(studentsRegister.length > 0)?false:true">Save</button>
    </div>
  </div>
</ion-content>
