<ion-header>

  <ion-navbar color="primary">
    <ion-title>Attendance Marker</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item no-lines>
    <ion-icon name="ios-arrow-dropleft-outline" item-start (click)="prevMonth()"></ion-icon>
    <ion-label text-center>{{displayDate}}</ion-label>
    <ion-icon name="ios-arrow-dropright-outline" item-end (click)="nextMonth()"></ion-icon>
  </ion-item>
<!--   (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
 -->
  <calendar
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate" 
        [lockSwipes]="lockSwipes" 
        (onCurrentDateChanged)="onCurrentDateChanged($event)" 
        (onTimeSelected)="onTimeSelected($event)" 
        step="30"
        class="calendar">
    </calendar>
  <div *ngFor="let event of eventSource">
    <ion-item *ngIf="event.date == displayDate" no-lines>
      <ion-label item-start>{{selectedDay}} == {{displayDate}}</ion-label>
      <ion-label>{{event.name}}</ion-label>
      <ion-icon [name]="event.present?'md-checkbox':'md-close-circle'" item-end></ion-icon>
    </ion-item>
  </div>
</ion-content>
