page-home {
    .home-card{
        background:color($colors,secondary);
        ion-card-header{
            text-align:center;
            font-weight: bold;
            font-size:22px;
        }
        ion-card-content p{
            color:color($colors,text);
        }
    }
    .grid1{
        ion-row{
            padding-bottom:5px;
        }
        ion-col{
            border-bottom:1px solid;
            border-top:1px solid;
            border-color:color($colors,text);
            background:color($colors,secondary);
            text-align: center;
            line-height:10px;
            font-size:15px;
            p{
                display:inline;
            }
        }
        ion-col:nth-child(1){
            border-right:1px solid;
            border-color:color($colors,text);
        }
    }
}
