// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.list-icons{
    display:inline;
    p{
        float:right;
    }
    img{
        width:18px;
        height:18px;
        float:right;
        margin-right:10px;
    }
}
ion-list.card-list{
    ion-item {
        h2, p{
            font-size:1.25rem;
        }
        margin-bottom:5px;
        border:1px solid #F5F5F5 !important;
        background:color($colors,secondary);
        -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);
    }
}